@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
@import url(https://use.typekit.net/kro1arl.css);

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

  

  iframe {
    display:block;
    width:100%;
  }
  
  .embed-container {
    position: relative; 
    padding-bottom:56.25%; 
    height:0; overflow: 
    hidden; max-width: 100%; } 

.embed-container iframe, 

.embed-container object, 

.embed-container embed { 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%;
}
  #carrusel {
    height: 600px;  
    width: 100%;
    left: 0px;
    top: 0px;
  }

#navbar1{
    background-color: #1F3643;
    opacity: 95%;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #1F3643;
}   

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #1F3643;
}

#img2_p {
  height: 100%;  
  width: 100%;
  left: 0px;
  top: 0px;
}

#img1 {
        padding-left: 10px;
        max-width: 40%;
}

#img2 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}


#img3 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#img4 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#img5 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#img6 {
  width: 55vw;
  position: relative;
  margin-top: -100px;
  left: 43%;
}


#img7 {
  position: relative;
  margin-left: -50vw;
  margin-top: 100px;
}

#img8 {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

.texto1{
  display: none;
}

.texto2{
  display: none;
}

.texto3{
  display: none;
}

.texto4{
  display: none;
}

.texto1-1{
  position: absolute;
  margin-top: 10%;
  display: block;
  text-align: center;
  color: #005F95;
  font-weight: bold;
  font-size: 44px;
  left: 20%;
}

.texto2-1{
  position: absolute;
  display: block;
  text-align: center;
  color: #005F95;
  margin-top: 14%;
  font-size: 33px;
  left: 20%;
}

.texto3-1{
  width: 30vw;
  position: absolute;
  display: block;
  color: #005F95;
  font-weight: bold;
  font-size: 44px;
  left: 8%;
}

.texto4-1{
  width: 30vw;
  position: absolute;
  display: block;
  color: #005F95;
  margin-top: 10%;
  font-size: 33px;
  left: 8%;
}

#productosbtn{
  border-radius: 25px;
  width: 20vw;
  height: 3.5vw;
  background-color: rgb(13, 13, 83);
  position:absolute;
  display: block;
  margin-top: 28%;
  left: 12%;
  font-size: 16px;
}

#productosbtn1{
  display: none;
}

#formularioc{
  border-radius: 30px;
  margin: 25px;
  padding: 25px;
  width: 35vw;
  background-color: #000000;
  color: white;
  opacity: 70%;
  margin-top: 12%;
  left: 5%;
  position: absolute;
}

#formname{
  max-width: 95%;
  color: #000000;
  background-color: white;
}

#formphone{
  max-width: 95%;
  color: #000000;
  background-color: white;
}

#formemail{
  max-width: 95%;
  color: #000000;
  background-color: white;
}

#formmsg{
  color: #000000;
  max-width: 100%;
  background-color: white;
}

#enviar{
  width: 95%;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(13, 13, 83);
  font-size: 16px;
}


#formularioc1{
  display: none;
}

#formname1{
  display: none;
}

#formphone1{
  display: none;
}

#formemail1{
  display: none;
}

#formmsg1{
  display: none;
}

#enviar1{
  display: none;
}


#img9{
  width: 35%;
  position: relative;
  left: 60%;
}

#img9-1{
  display: none;
}


#imgc {
    position: relative;
    width: 100%;
    position: relative;
    margin: 40px;
}

body {
    font-family: 'Roboto';font-size: 20px;
}

.bg-voilet1 {background-color :  #ffffff !important;}
.text-voilet1 {color :  #ffffff !important;}
.bg-11 {
 background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-color: #ffffff;
}


.bg-voilet {background-color :  #1F3643 !important;}
.text-voilet {color :  #1F3643 !important;}
.bg-1 {
 background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-color: #1F3643;
}



#container {
    display: flex;
    justify-content: space-between;
  }
  
  .col-side {
    flex: 0 0 240px;
  }
  
  #col2 { flex: 1; }
  
  #container > div + div {
    border-left: 0px solid rgba(0, 0, 0, 0.12);
  }
  
  #col1 {
       
    }
  #col2 { 
      
    }
  #col3 { 
      
    }
  body  { margin: 0; }

  #wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}

/* ------------------------------------ A partir de aquí empieza el estilo para Max 1366p------------------------------------------*/

@media (max-width: 1366px) {
  .facet_sidebar {
    display: none;
  }

  
  #carrusel {
    height: 600px;  
    width: 100%;
    left: 0px;
    top: 0px;
  }

  #img1 {
    padding-left: 10px;
    max-width: 80%;
  }

  .facet_sidebar {
    display: none;
  }

  #img2 {
    width: 100vw;
    position: relative;
    margin-top: 40px;
}

  #img6 {
    position: relative;
    margin-top: 40px;
    width: 100vw;
  }

  #img8 {
    width: 100vw;
    position: relative;
    margin-top: 40px;
  }

  .texto1{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-size: 24px;
  }

  .texto2{
    display: block;
    text-align: center;
    color: #005F95;
    margin-top: -15px;
    font-size: 18px;
  }

  .texto3{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-size: 24px;
  }

  .texto4{
    display: block;
    text-align: center;
    color: #005F95;
    margin-top: -15px;
    font-size: 18px;
  }

  .texto1-1{
    display: none;
  }

  .texto2-1{
    display: none;
  }

  .texto3-1{
    display: none;
  }

  .texto4-1{
    display: none;
  }

  #productosbtn{
    display: none;
  }
  
  #productosbtn1{
    border-radius: 25px;
    position:relative;
    display: block;
    text-align: center;
    background-color: rgb(13, 13, 83);
  }
  
}

/* ------------------------------------ A partir de aquí empieza el estilo para Max 720p ------------------------------------------*/

@media (max-width: 720px) {
  .facet_sidebar {
    display: none;
  }

  #carrusel {
    height: 400px;  
    width: 100%;
    left: 0px;
    top: 0px;
  }

  #img1 {
    padding-left: 10px;
    max-width: 80%;
  }

  .facet_sidebar {
    display: none;
  }

  #img2 {
    width: 100vw;
    position: relative;
    margin-top: 40px;
}

  #img6 {
    position: relative;
    margin-top: 40px;
    width: 100vw;
  }

  #img8 {
    width: 100vw;
    position: relative;
    margin-top: 40px;
  }

  .texto1{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-size: 24px;
  }

  .texto2{
    display: block;
    text-align: center;
    color: #005F95;
    margin-top: -15px;
    font-size: 18px;
  }

  .texto3{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-size: 24px;
  }

  .texto4{
    display: block;
    text-align: center;
    color: #005F95;
    margin-top: -15px;
    font-size: 18px;
  }

  .texto1-1{
    display: none;
  }

  .texto2-1{
    display: none;
  }

  .texto3-1{
    display: none;
  }

  .texto4-1{
    display: none;
  }

  #productosbtn{
    display: none;
  }
  
  #productosbtn1{
    border-radius: 25px;
    position:relative;
    display: block;
    text-align: center;
    background-color: rgb(13, 13, 83);
  }


}


/* ------------------------------------ A partir de aquí empieza el estilo para dispositivo móvil ------------------------------------------*/

@media (max-width: 640px) {

  #carrusel {
    height: 320px;  
    width: 100%;
    left: 0px;
    top: 0px;
  }

  #img1 {
    padding-left: 10px;
    max-width: 80%;
  }

  .facet_sidebar {
    display: none;
  }

  #img2 {
    width: 100%;
    position: relative;
    margin-top: 40px;
}

  #img6 {
    position: relative;
    margin-top: 40px;
    left: auto;
    width: 100%;
  }

  #img8 {
    width: 100%;
    position: relative;
    margin-top: 40px;
    left: 50%;
  }

  .texto1{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-weight: bold;
    font-size: 34px;
  }

  .texto2{
    display: block;
    text-align: center;
    color: #005F95;
    margin-top: -15px;
    font-size: 24px;
  }

  .texto3{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-weight: bold;
    font-size: 34px;
  }

  .texto4{
    display: block;
    text-align: center;
    color: #005F95;
    margin-top: -15px;
    font-size: 24px;
  }

  .texto1-1{
    display: none;
  }

  .texto2-1{
    display: none;
  }

  .texto3-1{
    display: none;
  }

  .texto4-1{
    display: none;
  }

  #productosbtn{
    display: none;
  }
  
  #productosbtn1{
    border-radius: 25px;
    position:relative;
    display: block;
    text-align: center;
    background-color: #1f3643;
  }

  #formularioc{
    display: none;
  }
  
  #formname{
    display: none;
  }
  
  #formphone{
    display: none;
  }
  
  #formemail{
    display: none;
  }
  
  #formmsg{
    display: none;
  }
  
  #enviar{
    display: none;
  }

  #formularioc1{
    display: block;
    border-radius: 30px;
    margin: 5px;
    padding: 25px;
    background-color: #000000;
    color: white;
    opacity: 70%;
    margin-top: 8%;
    position: relative;
  }
  
  #formname1{
    color: #000000;
    display: block;
    max-width: 90%;
    background-color: white;
  }
  
  #formphone1{
    color: #000000;
    display: block;
    max-width: 90%;
    background-color: white;
  }
  
  #formemail1{
    color: #000000;
    display: block;
    max-width: 90%;
    background-color: white;
  }
  
  #formmsg1{
    color: #000000;
    display: block;
    background-color: white;
  }
  
  #enviar1{
    position: relative;
    display: block;
    width: 95%;
    border-radius: 25px;
    background-color: rgb(13, 13, 83);
    font-size: 16px;
  }

  #img9-1{
    max-width: 100%;
    display: block;
    position: relative;
    margin: 5px;
    padding: 25px;
  }

  #img9{
    display: none;
  }

}