@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

#navbar1{
    background-color: #1F3643;
    opacity: 85%;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #1F3643;
}   

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #1F3643;
}

#img1 {
        padding-left: 50px;
        max-width: 100%;
        height: auto;
}

#img2 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}


#img3 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#img4 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#img5 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#imgc {
    width: 100%;
    position: relative;
    margin: 40px;
}

body {
    font-family: 'Roboto';font-size: 20px;
}
.bg-voilet {background-color :  #1F3643 !important;}
.text-voilet {color :  #1F3643 !important;}
.bg-1 {
 background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-color: #1F3643;
}

#container {
    display: flex;
    justify-content: space-between;
  }
  
  .col-side {
    flex: 0 0 240px;
  }
  
  #col2 { flex: 1; }
  
  #container > div + div {
    border-left: 0px solid rgba(0, 0, 0, 0.12);
  }
  
  #col1 {
       
    }
  #col2 { 
      
    }
  #col3 { 
      
    }
  body  { margin: 0; }
