@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
@import url(https://use.typekit.net/kro1arl.css);
@import url(https://p.typekit.net/p.css?s=1&k=kro1arl&ht=tk&f=1981.1983.8542.8544.27078.27079.27082&a=10088497&app=typekit&e=css);

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

  

  iframe {
    display:block;
    width:100%;
  }
  
  .embed-container {
    position: relative; 
    padding-bottom:56.25%; 
    height:0; overflow: 
    hidden; max-width: 100%; } 

.embed-container iframe, 

.embed-container object, 

.embed-container embed { 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%;
}
  #carrusel {
    height: 600px;  
    width: 100%;
    left: 0px;
    top: 0px;
  }

#navbar1{
    background-color: rgb(0, 0, 0);
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #1F3643;
}   

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #1F3643;
}

#img2_p {
  height: 100%;  
  width: 100%;
  left: 0px;
  top: 0px;
}

#img1 {
        padding-left: 10px;
        max-width: 40%;
}

#img2 {
    width: 69vw;
    position: relative;
    margin-top: 100px;
    left: 4%;
}


#img3 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#img4 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#img5 {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

#img6 {
  width: 69vw;
  position: relative;
  left: 3%;
}


#img7 {
  position: relative;
  margin-left: -50vw;
  margin-top: 100px;
}

#img8 {
  width: 69vw;
  position: relative;
  margin-top: 100px;
  left: 3%;
  margin-bottom: 30px;
}

.texto1{
  display: none;
}

.texto2{
  display: none;
}

.texto3{
  display: none;
}

.texto4{
  display: none;
}

.texto1-1{
  width: 30vw;
  position: absolute;
  margin-top: 4%;
  display: block;
  text-align: center;
  color: #000000;
  font-family: "museo";
  font-weight: bold;
  font-size: 38px;
  left: 20%;
}

.texto2-1{
  position: absolute;
  display: block;
  text-align: center;
  color: #000000;
  margin-top: 14%;
  font-family: "museo";
  font-size: 25px;
  left: 22%;
}

.texto3-1{
  
  position: absolute;
  display: block;
  text-align: center;
  color: #ffffff;
  margin-top: -32%;
  font-family: "museo";
  font-weight: bold;
  font-size: 42px;
  left: 16.5%;
  width: 22vw;
}

.texto4-1{
  text-align: center;
  width: 30vw;
  position: absolute;
  display: block;
  color: #000000;
  font-family: "museo";
  font-size: 25px;
  left: 35%;
}

.texto5-1{
  text-align: center;
  width: 30vw;
  position: absolute;
  display: block;
  color: #000000;
  font-family: "museo";
  font-size: 25px;
  left: 35%;
}

#productosbtn{
  border-radius: 35px;
  width: 22vw;
  background-color: #000000;
  position:absolute;
  display: block;
  left: 16%;
  font-size: 24px;
  font-family: "museo";
  margin-top: -23%;
}

#productosbtn2{
  border-radius: 35px;
  width: 18vw;
  background-color: #000000;
  position:absolute;
  display: block;
  margin-top: 12%;
  left: 26%;
  font-size: 24px;
  font-family: "museo";
}

#productosbtn1{
  display: none;
}

#productosbtn5{
 display: none;
}


#productosbtn10{
  display: none;
}


#productosbtn6{
  display: none;
}

#formularioc{
  border-radius: 30px;
  margin: 30px;
  padding: 30px;
  width: 30vw;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  margin-top: 7%;
  font-family: "museo";
  left: 15%;
  position: absolute;
}

#formulariod{
  border-radius: 30px;
  margin: 25px;
  padding: 25px;
  width: 35vw;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  margin-top: 3%;
  left: 45%;
  font-family: "museo";
  position: absolute;
}

#formname{
  border-radius: 15px;
  max-width: 95%;
  color: #000000;
  opacity: inherit;
  background-color: white;
}

#formphone{
  border-radius: 15px;
  max-width: 90%;
  color: #000000;
  opacity: inherit;
  background-color: white;
}

#formemail{
  border-radius: 15px;
  max-width: 90%;
  color: #000000;
  opacity: inherit;
  background-color: white;
}

#formdate{
  max-width: 95%;
  color: #000000;
  background-color: white;
  
}

#formplace{
  max-width: 95%;
  color: #000000;
  background-color: white;
}
#formmsg{
  border-radius: 15px;
  height: 10vw;
  color: #000000;
  opacity: 100%;
  max-width: 100%;
  opacity: inherit;
  background-color: white;
}
/*garantias */

 #formnameg{
  max-width: 95%;
  color: #000000;
  background-color: white;
}

#formphoneg{
  max-width: 95%;
  color: #000000;
  background-color: white;
}

#formemailg{
  max-width: 95%;
  color: #000000;
  background-color: white;
}

#formdateg{
  max-width: 95%;
  color: #000000;
  background-color: white;
  
}

#formplaceg{
  max-width: 95%;
  color: #000000;
  background-color: white;
}
#formmsgg{
  color: #000000;
  max-width: 100%;
  background-color: white;
}


#enviar{
  width: 95%;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: "museo"; 
}


#formularioc1{
  display: none;
}

#formname1{
  display: none;
}

#formphone1{
  display: none;
}

#formemail1{
  display: none;
}

#formmsg1{
  display: none;
}

#enviar1{
  display: none;
}


#img9{
  width: 35%;
  position: absolute;
  left: 60%;
}

#img9-1{
  display: none;
}

#img9-2{
  display: none;
}

#imgc {
    position: relative;
    width: 100%;
    position: relative;
    margin: 40px;
}

body {
    font-family: 'Roboto';font-size: 20px;
}

.bg-voilet1 {background-color :  #ffffff !important;}
.text-voilet1 {color :  #ffffff !important;}
.bg-11 {
 background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-color: #ffffff;
}


.bg-voilet {background-color :  #000000 !important; max-width: 69vw; margin-left: 15%;}
.text-voilet {color :  #000000 !important;}
.bg-1 {
 background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-color: #000000;
}



#container {
    display: flex;
    justify-content: space-between;
  }
  
  .col-side {
    flex: 0 0 240px;
  }
  
  #col2 { flex: 1; }
  
  #container > div + div {
    border-left: 0px solid rgba(0, 0, 0, 0.12);
  }
  
  #col1 {
       
    }
  #col2 { 
      
    }
  #col3 { 
      
    }
  body  { margin: 0; }

  #wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}


#sparkvw{
  padding: 30px;
}

#instagramsquare{
  margin-left: 10px;
}

#ypembedcontainer{
  max-height: 50vw;
  max-width: 69vw;
  left: 15%;
}

#carrusel{
  max-width: 69vw;
  margin-left: 15%;
}


.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 5px;
  margin-bottom: 5px;
}

#galerias{
  padding: 4%;
}

#sparkcontent{
  padding: 2.5%;
}


/* ------------------------------------ A partir de aquí empieza el estilo para Max 1366p------------------------------------------*/

@media (max-width: 1366px) {
  .facet_sidebar {
    display: none;
  }

  
  #carrusel {
    height: 600px;  
    width: 100%;
    left: 0px;
    top: 0px;
  }

  #img1 {
    padding-left: 10px;
    max-width: 80%;
  }

  .facet_sidebar {
    display: none;
  }

  #img2 {
    width: 100vw;
    position: relative;
    margin-top: 40px;
}

  #img6 {
    position: relative;
    margin-top: 40px;
    width: 80vw;
    left: 14%;
  }

  #img8 {
    width: 100vw;
    position: relative;
    margin-top: 40px;
  }

  
  #productosbtn6{
    border-radius: 25px;
    position:relative;
    display: block;
    text-align: center;
    font-family: "museo";
    background-color: rgb(13, 13, 83);
  }

  .texto1{
    margin-top: 65px;
    display: block;
    text-align: center;
    color: #005F95;
    font-family: "museo";
    font-weight: bold;
    font-size: 40px;
  }

  .texto2{
    display: block;
    text-align: center;
    color: #005F95;
    margin-top: -15px;
    font-family: "museo";
    font-size: 24px;
  }

  .texto3{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-family: "museo";
    font-weight: bold;
    font-size: 40px;
  }

  .texto4{
    display: block;
    text-align: center;
    color: #005F95;
    font-family: "museo";
    margin-top: -25px;
    font-size: 24px;
  }
  
  .texto1-1{
    display: none;
  }

  .texto2-1{
    display: none;
  }

  .texto3-1{
    display: none;
  }

  .texto4-1{
    display: none;
  }

  #productosbtn{
    display: none;
  }
  
  #productosbtn1{
   display: none;
  }

  #formularioc{
    border-radius: 30px;
    margin: 25px;
    padding: 25px;
    width: 50vw;
    background-color: rgba(31, 54, 67, 0.8);
    color: white;
    margin-top: 12%;
    font-family: "museo";
    left: 20%;
    position: absolute;
  }
  
  #formname{
    border-radius: 15px;
    max-width: 95%;
    color: #000000;
    opacity: inherit;
    background-color: white;
  }
  
  #formphone{
    border-radius: 15px;
    max-width: 95%;
    color: #000000;
    opacity: inherit;
    background-color: white;
  }
  
  #formemail{
    border-radius: 15px;
    max-width: 95%;
    color: #000000;
    opacity: inherit;
    background-color: white;
  }
  
  #formmsg{
    border-radius: 15px;
    color: #000000;
    opacity: 100%;
    max-width: 100%;
    opacity: inherit;
    background-color: white;
  }
  
  #enviar{
    width: 95%;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(13, 13, 83);
    font-size: 16px;
  }

  #img9-2{
    width: 50vw;
    position: relative;
  }

  #img9-1{
    display: none;
  }

  #img9{
    display: none;
  }
  
  
  
}

/* ------------------------------------ A partir de aquí empieza el estilo para Max 720p ------------------------------------------*/

@media (max-width: 720px) {
  .facet_sidebar {
    display: none;
  }

  #carrusel {
    height: 400px;  
    width: 100%;
    left: 0px;
    top: 0px;
  }

  #img1 {
    padding-left: 10px;
    max-width: 80%;
  }

  .facet_sidebar {
    display: none;
  }

  #img2 {
    width: 100vw;
    position: relative;
    margin-top: 40px;
}

  #img6 {
    position: relative;
    margin-top: 40px;
    width: 100vw;
  }

  #img8 {
    width: 100vw;
    position: relative;
    margin-top: 40px;
  }

  .texto1{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-family: "museo";
    font-weight: bold;
    font-size: 40px;
  }

  .texto2{
    display: block;
    text-align: center;
    color: #005F95;
    font-family: "museo";
    margin-top: -15px;
    font-size: 24px;
  }

  .texto3{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #005F95;
    font-family: "museo";
    font-weight: bold;
    font-size: 40px;
  }

  .texto4{
    display: block;
    text-align: center;
    color: #005F95;
    font-family: "museo";
    margin-top: -25px;
    font-size: 24px;
  }

  .texto1-1{
    display: none;
  }

  .texto2-1{
    display: none;
  }

  .texto3-1{
    display: none;
  }

  .texto4-1{
    display: none;
  }

  #productosbtn{
    display: none;
  }
  
  #productosbtn1{
    border-radius: 25px;
    position:relative;
    display: block;
    text-align: center;
    font-family: "museo";
    background-color: rgb(13, 13, 83);
  }

  #img9-1{
    display: none;
  }

  #img9{
    display: none;
  }

  #img9-2{
   display: none; 
  }

}


/* ------------------------------------ A partir de aquí empieza el estilo para Max 320p ------------------------------------------*/

@media (max-width: 640px) {

  #navbar1{
    width: 87vw;
  }

  #carrusel {
    height: 320px;  
    width: 100%;
    left: 0px;
    top: 0px;
  }

  #img1 {
    padding-left: 10px;
    max-width: 80%;
  }

  .facet_sidebar {
    display: none;
  }

  #img2 {
    width: 100%;
    position: relative;
    padding: 15px;
    left: auto;
}

  #img6 {
    position: relative;
    left: auto;
    width: 100%;
  }
  

  #img8 {
    width: 100%;
    position: relative;
    padding: 15px;
    left: auto;
  }

  .texto1{
    margin-top: 65px;
    display: block;
    text-align: center;
    color: #000000;
    font-family: "museo";
    font-weight: bold;
    font-size: 40px;
  }

  .texto2{
    display: block;
    text-align: center;
    color: #000000;
    font-family: "museo";
    margin-top: -15px;
    font-size: 24px;
  }

  .texto3{
    margin-top: 25px;
    display: block;
    text-align: center;
    color: #000000;
    font-family: "museo";
    font-weight: bold;
    font-size: 40px;
  }

  .texto4{
    display: block;
    text-align: center;
    color: #000000;
    font-family: "museo";
    margin-top: -15px;
    font-size: 24px;
  }

  .texto1-1{
    display: none;
  }

  .texto2-1{
    display: none;
  }

  .texto3-1{
    display: none;
  }

  .texto4-1{
    display: none;
  }

  #productosbtn{
    display: none;
  }
  
  #productosbtn1{
    border-radius: 25px;
    position:relative;
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0);
  }

  #productosbtn2{
    display: none;
  }

  #productosbtn5{
    border-radius: 25px;
    position:relative;
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0);
  }

  

  #productosbtn6{
    display: none;
  }

  #formularioc{
    display: none;
  }
  
  #formname{
    display: none;
  }
  
  #formphone{
    display: none;
  }
  
  #formemail{
    display: none;
  }
  
  #formmsg{
    display: none;
  }
  
  #enviar{
    display: none;
  }

  #formularioc1{
    display: block;
    border-radius: 30px;
    margin: 6%;
    padding: 25px;
    background-color: rgba(31, 54, 67, 0.8);
    color: white;
    font-family: "museo";
    position: relative;
  }
  
  #formname1{
    border-radius: 15px;
    color: #000000;
    display: block;
    max-width: 92%;
    background-color: white;
  }
  
  #formphone1{
    border-radius: 15px;
    color: #000000;
    display: block;
    max-width: 92%;
    background-color: white;
  }
  
  #formemail1{
    border-radius: 15px;
    color: #000000;
    display: block;
    max-width: 92%;
    background-color: white;
  }
  
  #formmsg1{
    border-radius: 15px;
    color: #000000;
    display: block;
    background-color: white;
  }
  
  #enviar1{
    position: relative;
    display: block;
    width: 95%;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
  }

  #img9-1{
    max-width: 100%;
    display: block;
    position: relative;
    margin: 5px;
    padding: 25px;
  }

  #img9{
    display: none;
  }

  #img9-2{
   display: none; 
  }

  .bg-voilet {
    background-color :  #000000 !important; 
    max-width: 87vw; 
    margin-left: 5%;
    margin-top: -8%;
  }

  .thumb{
    margin-left: 15%;
  }


}